##############################
## Arquivos o projeto
##############################
/front-end/aula
.vscode/
aplicacao-gestao.code-workspace

##############################
## OS X
##############################
.DS_Store
